/* src/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefcfc;
  padding: 30px 20px;
  border-radius: 10px;
  border-bottom: 2px solid #f9f6f6; /* Add this line for a bottom border */
}


.navbar-logo {
  color: rgb(8, 8, 8);
  text-decoration: none;
  font-size: 35px; /* Increased font size to make the title appear wider */
  transition: transform 0.3s, color 0.3s;
  margin-left: 90px; /* Move the title to the right */
  transition: font-size 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.1);
  color: rgb(50, 49, 49);
  font-size: 37px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  font-size: 19px;
  
}

.navbar-links a {
  color: rgb(7, 6, 6);
  text-decoration: none;
  transition: color 0.3s;
  margin-right: 25px;
  transition: font-size 0.3s ease;
  
}

.navbar-links a:hover {
  color:  rgb(50, 49, 49);
  transform: scale(1.1);
  color:  rgb(50, 49, 49);
  font-size: 21px;

}

.cart-link {
  display: flex;
  align-items: center;
  color: rgb(8, 6, 6);
  transition: color 0.3s, transform 0.3s;
}
.cart-link:hover {
  color:  rgb(50, 49, 49); /* Change color on hover */
  transform: scale(1.1); /* Increase size on hover */
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-links.active {
    display: flex;
  }
  .menu-icon {
    display: block;
  }
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.login-link,
.signup-link {
  color: rgb(12, 11, 11);
  text-decoration: none;
  transition: color 0.3s;
  margin-right: 20px;
}

.login-link:hover, 
.signup-link:hover {
  color:  rgb(139, 139, 139);
}

.signup-link {
  background-color:  rgb(50, 49, 49);
  color: #fffefe;
  padding: 8px 16px;
  border-radius: 5px;

  
}


/* Rest of your CSS */
